services:
  producer:
    build:
      context: .
      dockerfile: ./src/producer/Dockerfile
    depends_on:
      - consumer
    networks:
      - msgnet
  consumer:
    build:
      context: .
      dockerfile: ./src/consumer/Dockerfile
    depends_on:
      - logger
    networks:
      - msgnet
  logger:
    build:
      context: .
      dockerfile: ./src/logger/Dockerfile
    networks:
      - msgnet
    volumes:
      - ./data:/data
networks:
  msgnet:
    external: true
